services:
  asr:
    build:
      context: ./speech-to-text
      dockerfile: Dockerfile
    image: interview-asr
    ports:
      - "8502:8501"
    volumes:
      - ./transcriptions:/app/outputs

  insights:
    build:
      context: .
    image: interview-insights
    environment:
      - OPENAI_API_KEY=${OPENAI_API_KEY}
    ports:
      - "8501:8501"
    volumes:
      - ./transcriptions:/app/transcriptions
      - ./interview_insider/interview_insights:/app/interview_insider/interview_insights
